* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header {
  height: 60px;
  border-bottom: 1px solid #ccc;
}

header img {
  margin-top: 12px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}