.texto {
  font-size: 2rem;
}

.texto h1 {
  font-size: 3em;
}

.texto p {
  padding: 0.5em;
  margin-right: 3em;
  border: 0.5em solid black;

  font-size: 2em;
}

.texto p span {
  font-size: 0.5em;
}


.comentarios {
  font-size: 0.5rem;
}

.comentarios p {
  font-size: 2em;
}