.layout-cabecalho {
  height: 60px;
  border-bottom: 1px solid #ccc;
}

.layout-cabecalho img {
  margin-top: 12px;
}

.layout-planos {
  padding: 80px 0;
}

.layout-chamada {
  padding: 80px 0;

  background-color: #7ab55c;
}